flamingo/PiWind/Files/ValidationFiles/OED_CanAccB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rec" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="ROW_ID" type="xs:string"/>
						<xs:attribute name="PortNumber" type="xs:string"/>
						<xs:attribute name="PortName" type="xs:string"/>
						<xs:attribute name="PortNotes" type="xs:string"/>
						<xs:attribute name="AccNumber" type="xs:string"/>
						<xs:attribute name="AccName" type="xs:string"/>
						<xs:attribute name="AccGroup" type="xs:string"/>
						<xs:attribute name="AccStatus" type="xs:string"/>
						<xs:attribute name="ExpiringAccNumber" type="xs:string"/>
						<xs:attribute name="CedantName" type="xs:string"/>
						<xs:attribute name="AccCurrency" type="xs:string"/>
						<xs:attribute name="AccUserDef1" type="xs:string"/>
						<xs:attribute name="AccUserDef2" type="xs:string"/>
						<xs:attribute name="AccUserDef3" type="xs:string"/>
						<xs:attribute name="AccUserDef4" type="xs:string"/>
						<xs:attribute name="AccUserDef5" type="xs:string"/>
						<xs:attribute name="AccPeril" type="xs:string"/>
						<xs:attribute name="AccDedCode1Building" type="xs:string"/>
						<xs:attribute name="AccDedType1Building" type="xs:string"/>
						<xs:attribute name="AccDed1Building" type="xs:string"/>
						<xs:attribute name="AccMinDed1Building" type="xs:string"/>
						<xs:attribute name="AccMaxDed1Building" type="xs:string"/>
						<xs:attribute name="AccDedCode2Other" type="xs:string"/>
						<xs:attribute name="AccDedType2Other" type="xs:string"/>
						<xs:attribute name="AccDed2Other" type="xs:string"/>
						<xs:attribute name="AccMinDed2Other" type="xs:string"/>
						<xs:attribute name="AccMaxDed2Other" type="xs:string"/>
						<xs:attribute name="AccDedCode3Contents" type="xs:string"/>
						<xs:attribute name="AccDedType3Contents" type="xs:string"/>
						<xs:attribute name="AccDed3Contents" type="xs:string"/>
						<xs:attribute name="AccMinDed3Contents" type="xs:string"/>
						<xs:attribute name="AccMaxDed3Contents" type="xs:string"/>
						<xs:attribute name="AccDedCode4BI" type="xs:string"/>
						<xs:attribute name="AccDedType4BI" type="xs:string"/>
						<xs:attribute name="AccDed4BI" type="xs:string"/>
						<xs:attribute name="AccMinDed4BI" type="xs:string"/>
						<xs:attribute name="AccMaxDed4BI" type="xs:string"/>
						<xs:attribute name="AccDedCode5PD" type="xs:string"/>
						<xs:attribute name="AccDedType5PD" type="xs:string"/>
						<xs:attribute name="AccDed5PD" type="xs:string"/>
						<xs:attribute name="AccMinDed5PD" type="xs:string"/>
						<xs:attribute name="AccMaxDed5PD" type="xs:string"/>
						<xs:attribute name="AccDedCode6All" type="xs:string"/>
						<xs:attribute name="AccDedType6All" type="xs:string"/>
						<xs:attribute name="AccDed6All" type="xs:string"/>
						<xs:attribute name="AccMinDed6All" type="xs:string"/>
						<xs:attribute name="AccMaxDed6All" type="xs:string"/>
						<xs:attribute name="AccLimitCode1Building" type="xs:string"/>
						<xs:attribute name="AccLimitType1Building" type="xs:string"/>
						<xs:attribute name="AccLimit1Building" type="xs:string"/>
						<xs:attribute name="AccLimitCode2Other" type="xs:string"/>
						<xs:attribute name="AccLimitType2Other" type="xs:string"/>
						<xs:attribute name="AccLimit2Other" type="xs:string"/>
						<xs:attribute name="AccLimitCode3Contents" type="xs:string"/>
						<xs:attribute name="AccLimitType3Contents" type="xs:string"/>
						<xs:attribute name="AccLimit3Contents" type="xs:string"/>
						<xs:attribute name="AccLimitCode4BI" type="xs:string"/>
						<xs:attribute name="AccLimitType4BI" type="xs:string"/>
						<xs:attribute name="AccLimit4BI" type="xs:string"/>
						<xs:attribute name="AccLimitCode5PD" type="xs:string"/>
						<xs:attribute name="AccLimitType5PD" type="xs:string"/>
						<xs:attribute name="AccLimit5PD" type="xs:string"/>
						<xs:attribute name="AccLimitCode6All" type="xs:string"/>
						<xs:attribute name="AccLimitType6All" type="xs:string"/>
						<xs:attribute name="AccLimit6All" type="xs:string"/>
						<xs:attribute name="PolNumber" type="xs:string"/>
						<xs:attribute name="PolStatus" type="xs:string"/>
						<xs:attribute name="PolInceptionDate" type="xs:string"/>
						<xs:attribute name="PolExpiryDate" type="xs:string"/>
						<xs:attribute name="ProducerName" type="xs:string"/>
						<xs:attribute name="Underwriter" type="xs:string"/>
						<xs:attribute name="BranchName" type="xs:string"/>
						<xs:attribute name="LOB" type="xs:string"/>
						<xs:attribute name="ExpiringPolNumber" type="xs:string"/>
						<xs:attribute name="PolPerilsCovered" type="xs:string"/>
						<xs:attribute name="PolGrossPremium" type="xs:string"/>
						<xs:attribute name="PolTax" type="xs:string"/>
						<xs:attribute name="PolBrokerage" type="xs:string"/>
						<xs:attribute name="PolNetPremium" type="xs:string"/>
						<xs:attribute name="LayerNumber" type="xs:string"/>
						<xs:attribute name="LayerParticipation" type="xs:string"/>
						<xs:attribute name="LayerLimit" type="xs:string"/>
						<xs:attribute name="LayerAttachment" type="xs:string"/>
						<xs:attribute name="HoursClause" type="xs:string"/>
						<xs:attribute name="PolPeril" type="xs:string"/>
						<xs:attribute name="PolDedCode1Building" type="xs:string"/>
						<xs:attribute name="PolDedType1Building" type="xs:string"/>
						<xs:attribute name="PolDed1Building" type="xs:string"/>
						<xs:attribute name="PolMinDed1Building" type="xs:string"/>
						<xs:attribute name="PolMaxDed1Building" type="xs:string"/>
						<xs:attribute name="PolDedCode2Other" type="xs:string"/>
						<xs:attribute name="PolDedType2Other" type="xs:string"/>
						<xs:attribute name="PolDed2Other" type="xs:string"/>
						<xs:attribute name="PolMinDed2Other" type="xs:string"/>
						<xs:attribute name="PolMaxDed2Other" type="xs:string"/>
						<xs:attribute name="PolDedCode3Contents" type="xs:string"/>
						<xs:attribute name="PolDedType3Contents" type="xs:string"/>
						<xs:attribute name="PolDed3Contents" type="xs:string"/>
						<xs:attribute name="PolMinDed3Contents" type="xs:string"/>
						<xs:attribute name="PolMaxDed3Contents" type="xs:string"/>
						<xs:attribute name="PolDedCode4BI" type="xs:string"/>
						<xs:attribute name="PolDedType4BI" type="xs:string"/>
						<xs:attribute name="PolDed4BI" type="xs:string"/>
						<xs:attribute name="PolMinDed4BI" type="xs:string"/>
						<xs:attribute name="PolMaxDed4BI" type="xs:string"/>
						<xs:attribute name="PolDedCode5PD" type="xs:string"/>
						<xs:attribute name="PolDedType5PD" type="xs:string"/>
						<xs:attribute name="PolDed5PD" type="xs:string"/>
						<xs:attribute name="PolMinDed5PD" type="xs:string"/>
						<xs:attribute name="PolMaxDed5PD" type="xs:string"/>
						<xs:attribute name="PolDedCode6All" type="xs:string"/>
						<xs:attribute name="PolDedType6All" type="xs:string"/>
						<xs:attribute name="PolDed6All" type="xs:string"/>
						<xs:attribute name="PolMinDed6All" type="xs:string"/>
						<xs:attribute name="PolMaxDed6All" type="xs:string"/>
						<xs:attribute name="PolLimitCode1Building" type="xs:string"/>
						<xs:attribute name="PolLimitType1Building" type="xs:string"/>
						<xs:attribute name="PolLimit1Building" type="xs:string"/>
						<xs:attribute name="PolLimitCode2Other" type="xs:string"/>
						<xs:attribute name="PolLimitType2Other" type="xs:string"/>
						<xs:attribute name="PolLimit2Other" type="xs:string"/>
						<xs:attribute name="PolLimitCode3Contents" type="xs:string"/>
						<xs:attribute name="PolLimitType3Contents" type="xs:string"/>
						<xs:attribute name="PolLimit3Contents" type="xs:string"/>
						<xs:attribute name="PolLimitCode4BI" type="xs:string"/>
						<xs:attribute name="PolLimitType4BI" type="xs:string"/>
						<xs:attribute name="PolLimit4BI" type="xs:string"/>
						<xs:attribute name="PolLimitCode5PD" type="xs:string"/>
						<xs:attribute name="PolLimitType5PD" type="xs:string"/>
						<xs:attribute name="PolLimit5PD" type="xs:string"/>
						<xs:attribute name="PolLimitCode6All" type="xs:string"/>
						<xs:attribute name="PolLimitType6All" type="xs:string"/>
						<xs:attribute name="PolLimit6All" type="xs:string"/>
						<xs:attribute name="StepFunctionName" type="xs:string"/>
						<xs:attribute name="StepTriggerType" type="xs:string"/>
						<xs:attribute name="StepNumber" type="xs:string"/>
						<xs:attribute name="StartTriggerBuilding" type="xs:string"/>
						<xs:attribute name="EndTriggerBuilding" type="xs:string"/>
						<xs:attribute name="DeductibleBuilding" type="xs:string"/>
						<xs:attribute name="PayOutBuilding" type="xs:string"/>
						<xs:attribute name="StartTriggerContent" type="xs:string"/>
						<xs:attribute name="EndTriggerContent" type="xs:string"/>
						<xs:attribute name="DeductibleContent" type="xs:string"/>
						<xs:attribute name="PayOutContent" type="xs:string"/>
						<xs:attribute name="StartTriggerBuildingContent" type="xs:string"/>
						<xs:attribute name="EndTriggerBuildingContent" type="xs:string"/>
						<xs:attribute name="DeductibleBuildingContent" type="xs:string"/>
						<xs:attribute name="PayOutBuildingContent" type="xs:string"/>
						<xs:attribute name="MinimumTIV" type="xs:string"/>
						<xs:attribute name="ScaleFactor" type="xs:string"/>
						<xs:attribute name="IsLimitAtDamage" type="xs:string"/>
						<xs:attribute name="PolUserDef1" type="xs:string"/>
						<xs:attribute name="PolUserDef2" type="xs:string"/>
						<xs:attribute name="PolUserDef3" type="xs:string"/>
						<xs:attribute name="PolUserDef4" type="xs:string"/>
						<xs:attribute name="PolUserDef5" type="xs:string"/>
						<xs:attribute name="CondNumber" type="xs:string"/>
						<xs:attribute name="CondName" type="xs:string"/>
						<xs:attribute name="CondPeril" type="xs:string"/>
						<xs:attribute name="CondDedCode1Building" type="xs:string"/>
						<xs:attribute name="CondDedType1Building" type="xs:string"/>
						<xs:attribute name="CondDed1Building" type="xs:string"/>
						<xs:attribute name="CondMinDed1Building" type="xs:string"/>
						<xs:attribute name="CondMaxDed1Building" type="xs:string"/>
						<xs:attribute name="CondDedCode2Other" type="xs:string"/>
						<xs:attribute name="CondDedType2Other" type="xs:string"/>
						<xs:attribute name="CondDed2Other" type="xs:string"/>
						<xs:attribute name="CondMinDed2Other" type="xs:string"/>
						<xs:attribute name="CondMaxDed2Other" type="xs:string"/>
						<xs:attribute name="CondDedCode3Contents" type="xs:string"/>
						<xs:attribute name="CondDedType3Contents" type="xs:string"/>
						<xs:attribute name="CondDed3Contents" type="xs:string"/>
						<xs:attribute name="CondMinDed3Contents" type="xs:string"/>
						<xs:attribute name="CondMaxDed3Contents" type="xs:string"/>
						<xs:attribute name="CondDedCode4BI" type="xs:string"/>
						<xs:attribute name="CondDedType4BI" type="xs:string"/>
						<xs:attribute name="CondDed4BI" type="xs:string"/>
						<xs:attribute name="CondMinDed4BI" type="xs:string"/>
						<xs:attribute name="CondMaxDed4BI" type="xs:string"/>
						<xs:attribute name="CondDedCode5PD" type="xs:string"/>
						<xs:attribute name="CondDedType5PD" type="xs:string"/>
						<xs:attribute name="CondDed5PD" type="xs:string"/>
						<xs:attribute name="CondMinDed5PD" type="xs:string"/>
						<xs:attribute name="CondMaxDed5PD" type="xs:string"/>
						<xs:attribute name="CondDedCode6All" type="xs:string"/>
						<xs:attribute name="CondDedType6All" type="xs:string"/>
						<xs:attribute name="CondDed6All" type="xs:string"/>
						<xs:attribute name="CondMinDed6All" type="xs:string"/>
						<xs:attribute name="CondMaxDed6All" type="xs:string"/>
						<xs:attribute name="CondLimitCode1Building" type="xs:string"/>
						<xs:attribute name="CondLimitType1Building" type="xs:string"/>
						<xs:attribute name="CondLimit1Building" type="xs:string"/>
						<xs:attribute name="CondLimitCode2Other" type="xs:string"/>
						<xs:attribute name="CondLimitType2Other" type="xs:string"/>
						<xs:attribute name="CondLimit2Other" type="xs:string"/>
						<xs:attribute name="CondLimitCode3Contents" type="xs:string"/>
						<xs:attribute name="CondLimitType3Contents" type="xs:string"/>
						<xs:attribute name="CondLimit3Contents" type="xs:string"/>
						<xs:attribute name="CondLimitCode4BI" type="xs:string"/>
						<xs:attribute name="CondLimitType4BI" type="xs:string"/>
						<xs:attribute name="CondLimit4BI" type="xs:string"/>
						<xs:attribute name="CondLimitCode5PD" type="xs:string"/>
						<xs:attribute name="CondLimitType5PD" type="xs:string"/>
						<xs:attribute name="CondLimit5PD" type="xs:string"/>
						<xs:attribute name="CondLimitCode6All" type="xs:string"/>
						<xs:attribute name="CondLimitType6All" type="xs:string"/>
						<xs:attribute name="CondLimit6All" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
