flamingo/PiWind/Files/ValidationFiles/OED_SourceLoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rec" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="AccNumber" type="xs:string"/>
						<xs:attribute name="LocNumber" type="xs:string"/>
						<xs:attribute name="LocName" type="xs:string"/>
						<xs:attribute name="LocGroup" type="xs:string"/>
						<xs:attribute name="IsPrimary" type="xs:string"/>
						<xs:attribute name="IsTenant" type="xs:string"/>
						<xs:attribute name="BuildingID" type="xs:string"/>
						<xs:attribute name="LocInceptionDate" type="xs:string"/>
						<xs:attribute name="LocExpiryDate" type="xs:string"/>
						<xs:attribute name="PercentComplete" type="xs:string"/>
						<xs:attribute name="CompletionDate" type="xs:string"/>
						<xs:attribute name="CountryCode" type="xs:string"/>
						<xs:attribute name="Latitude" type="xs:string"/>
						<xs:attribute name="Longitude" type="xs:string"/>
						<xs:attribute name="StreetAddress" type="xs:string"/>
						<xs:attribute name="PostalCode" type="xs:string"/>
						<xs:attribute name="City" type="xs:string"/>
						<xs:attribute name="SubArea2" type="xs:string"/>
						<xs:attribute name="SubArea" type="xs:string"/>
						<xs:attribute name="LowResCresta" type="xs:string"/>
						<xs:attribute name="HighResCresta" type="xs:string"/>
						<xs:attribute name="AreaCode" type="xs:string"/>
						<xs:attribute name="AreaName" type="xs:string"/>
						<xs:attribute name="AddressMatch" type="xs:string"/>
						<xs:attribute name="GeocodeQuality" type="xs:string"/>
						<xs:attribute name="Geocoder" type="xs:string"/>
						<xs:attribute name="OrgOccupancyScheme" type="xs:string"/>
						<xs:attribute name="OrgOccupancyCode" type="xs:string"/>
						<xs:attribute name="OrgConstructionScheme" type="xs:string"/>
						<xs:attribute name="OrgConstructionCode" type="xs:string"/>
						<xs:attribute name="OccupancyCode" type="xs:string"/>
						<xs:attribute name="ConstructionCode" type="xs:string"/>
						<xs:attribute name="YearBuilt" type="xs:string"/>
						<xs:attribute name="NumberOfStories" type="xs:string"/>
						<xs:attribute name="NumberOfBuildings" type="xs:string"/>
						<xs:attribute name="FloorArea" type="xs:string"/>
						<xs:attribute name="FloorAreaUnit" type="xs:string"/>
						<xs:attribute name="LocUserDef1" type="xs:string"/>
						<xs:attribute name="LocUserDef2" type="xs:string"/>
						<xs:attribute name="LocUserDef3" type="xs:string"/>
						<xs:attribute name="LocUserDef4" type="xs:string"/>
						<xs:attribute name="LocUserDef5" type="xs:string"/>
						<xs:attribute name="LocPerilsCovered" type="xs:string"/>
						<xs:attribute name="BuildingTIV" type="xs:string"/>
						<xs:attribute name="OtherTIV" type="xs:string"/>
						<xs:attribute name="ContentsTIV" type="xs:string"/>
						<xs:attribute name="BITIV" type="xs:string"/>
						<xs:attribute name="BIPOI" type="xs:string"/>
						<xs:attribute name="LocCurrency" type="xs:string"/>
						<xs:attribute name="LocGrossPremium" type="xs:string"/>
						<xs:attribute name="LocTax" type="xs:string"/>
						<xs:attribute name="LocBrokerage" type="xs:string"/>
						<xs:attribute name="LocNetPremium" type="xs:string"/>
						<xs:attribute name="NonCatGroundUpLoss" type="xs:string"/>
						<xs:attribute name="LocParticipation" type="xs:string"/>
						<xs:attribute name="PayoutBasis" type="xs:string"/>
						<xs:attribute name="ReinsTag" type="xs:string"/>
						<xs:attribute name="CondTag" type="xs:string"/>
						<xs:attribute name="CondPriority" type="xs:string"/>
						<xs:attribute name="LocDedCode1Building" type="xs:string"/>
						<xs:attribute name="LocDedType1Building" type="xs:string"/>
						<xs:attribute name="LocDed1Building" type="xs:string"/>
						<xs:attribute name="LocMinDed1Building" type="xs:string"/>
						<xs:attribute name="LocMaxDed1Building" type="xs:string"/>
						<xs:attribute name="LocDedCode2Other" type="xs:string"/>
						<xs:attribute name="LocDedType2Other" type="xs:string"/>
						<xs:attribute name="LocDed2Other" type="xs:string"/>
						<xs:attribute name="LocMinDed2Other" type="xs:string"/>
						<xs:attribute name="LocMaxDed2Other" type="xs:string"/>
						<xs:attribute name="LocDedCode3Contents" type="xs:string"/>
						<xs:attribute name="LocDedType3Contents" type="xs:string"/>
						<xs:attribute name="LocDed3Contents" type="xs:string"/>
						<xs:attribute name="LocMinDed3Contents" type="xs:string"/>
						<xs:attribute name="LocMaxDed3Contents" type="xs:string"/>
						<xs:attribute name="LocDedCode4BI" type="xs:string"/>
						<xs:attribute name="LocDedType4BI" type="xs:string"/>
						<xs:attribute name="LocDed4BI" type="xs:string"/>
						<xs:attribute name="LocMinDed4BI" type="xs:string"/>
						<xs:attribute name="LocMaxDed4BI" type="xs:string"/>
						<xs:attribute name="LocDedCode5PD" type="xs:string"/>
						<xs:attribute name="LocDedType5PD" type="xs:string"/>
						<xs:attribute name="LocDed5PD" type="xs:string"/>
						<xs:attribute name="LocMinDed5PD" type="xs:string"/>
						<xs:attribute name="LocMaxDed5PD" type="xs:string"/>
						<xs:attribute name="LocDedCode6All" type="xs:string"/>
						<xs:attribute name="LocDedType6All" type="xs:string"/>
						<xs:attribute name="LocDed6All" type="xs:string"/>
						<xs:attribute name="LocMinDed6All" type="xs:string"/>
						<xs:attribute name="LocMaxDed6All" type="xs:string"/>
						<xs:attribute name="LocLimitCode1Building" type="xs:string"/>
						<xs:attribute name="LocLimitType1Building" type="xs:string"/>
						<xs:attribute name="LocLimit1Building" type="xs:string"/>
						<xs:attribute name="LocLimitCode2Other" type="xs:string"/>
						<xs:attribute name="LocLimitType2Other" type="xs:string"/>
						<xs:attribute name="LocLimit2Other" type="xs:string"/>
						<xs:attribute name="LocLimitCode3Contents" type="xs:string"/>
						<xs:attribute name="LocLimitType3Contents" type="xs:string"/>
						<xs:attribute name="LocLimit3Contents" type="xs:string"/>
						<xs:attribute name="LocLimitCode4BI" type="xs:string"/>
						<xs:attribute name="LocLimitType4BI" type="xs:string"/>
						<xs:attribute name="LocLimit4BI" type="xs:string"/>
						<xs:attribute name="LocLimitCode5PD" type="xs:string"/>
						<xs:attribute name="LocLimitType5PD" type="xs:string"/>
						<xs:attribute name="LocLimit5PD" type="xs:string"/>
						<xs:attribute name="LocLimitCode6All" type="xs:string"/>
						<xs:attribute name="LocLimitType6All" type="xs:string"/>
						<xs:attribute name="LocLimit6All" type="xs:string"/>
						<xs:attribute name="BIWaitingPeriod" type="xs:string"/>
						<xs:attribute name="LocPeril" type="xs:string"/>
						<xs:attribute name="YearUpgraded" type="xs:string"/>
						<xs:attribute name="SurgeLeakage" type="xs:string"/>
						<xs:attribute name="SprinklerType" type="xs:string"/>
						<xs:attribute name="RoofCover" type="xs:string"/>
						<xs:attribute name="RoofYearBuilt" type="xs:string"/>
						<xs:attribute name="RoofGeometry" type="xs:string"/>
						<xs:attribute name="RoofEquipment" type="xs:string"/>
						<xs:attribute name="RoofFrame" type="xs:string"/>
						<xs:attribute name="RoofMaintenance" type="xs:string"/>
						<xs:attribute name="BuildingCondition" type="xs:string"/>
						<xs:attribute name="RoofAttachedStructure" type="xs:string"/>
						<xs:attribute name="RoofDeck" type="xs:string"/>
						<xs:attribute name="RoofPitch" type="xs:string"/>
						<xs:attribute name="RoofAnchorage" type="xs:string"/>
						<xs:attribute name="RoofDeckAttachment" type="xs:string"/>
						<xs:attribute name="RoofCoverAttachment" type="xs:string"/>
						<xs:attribute name="GlassType" type="xs:string"/>
						<xs:attribute name="LatticeType" type="xs:string"/>
						<xs:attribute name="FloodZone" type="xs:string"/>
						<xs:attribute name="SoftStory" type="xs:string"/>
						<xs:attribute name="Basement" type="xs:string"/>
						<xs:attribute name="BasementLevelCount" type="xs:string"/>
						<xs:attribute name="WindowProtection" type="xs:string"/>
						<xs:attribute name="FoundationType" type="xs:string"/>
						<xs:attribute name="WallAttachedStructure" type="xs:string"/>
						<xs:attribute name="AppurtenantStructure" type="xs:string"/>
						<xs:attribute name="ConstructionQuality" type="xs:string"/>
						<xs:attribute name="GroundEquipment" type="xs:string"/>
						<xs:attribute name="EquipmentBracing" type="xs:string"/>
						<xs:attribute name="Flashing" type="xs:string"/>
						<xs:attribute name="BuildingShape" type="xs:string"/>
						<xs:attribute name="ShapeIrregularity" type="xs:string"/>
						<xs:attribute name="Pounding" type="xs:string"/>
						<xs:attribute name="Ornamentation" type="xs:string"/>
						<xs:attribute name="SpecialEQConstruction" type="xs:string"/>
						<xs:attribute name="Retrofit" type="xs:string"/>
						<xs:attribute name="CrippleWalls" type="xs:string"/>
						<xs:attribute name="FoundationConnection" type="xs:string"/>
						<xs:attribute name="ShortColumn" type="xs:string"/>
						<xs:attribute name="Fatigue" type="xs:string"/>
						<xs:attribute name="Cladding" type="xs:string"/>
						<xs:attribute name="BIPreparedness" type="xs:string"/>
						<xs:attribute name="BIRedundancy" type="xs:string"/>
						<xs:attribute name="BuildingElevation" type="xs:string"/>
						<xs:attribute name="BuildingElevationUnit" type="xs:string"/>
						<xs:attribute name="Datum" type="xs:string"/>
						<xs:attribute name="GroundElevation" type="xs:string"/>
						<xs:attribute name="GroundElevationUnit" type="xs:string"/>
						<xs:attribute name="Tank" type="xs:string"/>
						<xs:attribute name="Redundancy" type="xs:string"/>
						<xs:attribute name="InternalPartition" type="xs:string"/>
						<xs:attribute name="ExternalDoors" type="xs:string"/>
						<xs:attribute name="Torsion" type="xs:string"/>
						<xs:attribute name="MechanicalEquipmentSide" type="xs:string"/>
						<xs:attribute name="ContentsWindVuln" type="xs:string"/>
						<xs:attribute name="ContentsFloodVuln" type="xs:string"/>
						<xs:attribute name="ContentsQuakeVuln" type="xs:string"/>
						<xs:attribute name="SmallDebris" type="xs:string"/>
						<xs:attribute name="FloorsOccupied" type="xs:string"/>
						<xs:attribute name="FloodDefenseElevation" type="xs:string"/>
						<xs:attribute name="FloodDefenseElevationUnit" type="xs:string"/>
						<xs:attribute name="FloodDebrisResilience" type="xs:string"/>
						<xs:attribute name="BaseFloodElevation" type="xs:string"/>
						<xs:attribute name="BaseFloodElevationUnit" type="xs:string"/>
						<xs:attribute name="BuildingHeight" type="xs:string"/>
						<xs:attribute name="BuildingHeightUnit" type="xs:string"/>
						<xs:attribute name="BuildingValuation" type="xs:string"/>
						<xs:attribute name="TreeExposure" type="xs:string"/>
						<xs:attribute name="Chimney" type="xs:string"/>
						<xs:attribute name="BuildingType" type="xs:string"/>
						<xs:attribute name="Packaging" type="xs:string"/>
						<xs:attribute name="Protection" type="xs:string"/>
						<xs:attribute name="SalvageProtection" type="xs:string"/>
						<xs:attribute name="ValuablesStorage" type="xs:string"/>
						<xs:attribute name="DaysHeld" type="xs:string"/>
						<xs:attribute name="BrickVeneer" type="xs:string"/>
						<xs:attribute name="FEMACompliance" type="xs:string"/>
						<xs:attribute name="CustomFloodSOP" type="xs:string"/>
						<xs:attribute name="CustomFloodZone" type="xs:string"/>
						<xs:attribute name="MultiStoryHall" type="xs:string"/>
						<xs:attribute name="BuildingExteriorOpening" type="xs:string"/>
						<xs:attribute name="ServiceEquipmentProtection" type="xs:string"/>
						<xs:attribute name="TallOneStory" type="xs:string"/>
						<xs:attribute name="TerrainRoughness" type="xs:string"/>
						<xs:attribute name="NumberOfEmployees" type="xs:string"/>
						<xs:attribute name="Payroll" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
